[req] 
distinguished_name = req_distinguished_name 
req_extensions = v3_req 
[req_distinguished_name] 
C = US 
ST = California 
L = San Francisco 
O = Wazuh 
OU = Wazuh 
CN = admin 
[v3_req] 
basicConstraints = CA:FALSE 
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment 
extendedKeyUsage = serverAuth, clientAuth 
